@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Ergasia</title>
    <script type="importmap"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Train+One&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/star-rating.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/stars.css" asp-append-version="true">
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
        type='text/css'>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark bg-dark-blue border-bottom box-shadow mb-3">
        <div class="container">

            @if (Context.Request.Cookies["userRole"] != null)
            {
                <div class="btn-group">
                    <a class="navbar-brand" asp-area="" asp-page="/Account/Index"> @Context.Request.Cookies["userName"] </a>
                    <button type="button" class="btn btn-dark-blue dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-page="/Account/Index">Personal information</a></li>
                        @if (Context.Request.Cookies["userRole"] == "Employer")
                        {
                            <li><a class="dropdown-item" asp-page="/Account/Update/Employer" asp-route-employerId="@Context.Request.Cookies["userId"]">Update information</a></li>
                        }
                        else
                        {
                            <li><a class="dropdown-item" asp-page="/Account/Update/Worker" asp-route-workerId="@Context.Request.Cookies["userId"]">Update information</a></li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <a class="navbar-brand" asp-area="" asp-page="/Index"> ERGASIA</a>
            }

            <div class="d-flex d-md-none flex-row -flex-wrap gap-2 align-items-center">
                <div>
                    <a class="btn bg-transparent" asp-page="/Account/Logout">
                        <i class="fa fa-sign-out fa-lg rounded-2" style="color: rgba(255, 255, 255, 0.55)"></i>
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                    </li>

                    @if (Context.Request.Cookies["userRole"] != null)
                    {
                        if (Context.Request.Cookies["userRole"] == "Employer")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Workers/Index">Workers</a>
                            </li>

                            <li class="nav-item dropdown p-0">
                                <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    My jobs
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark bg-dark-blue border-light">
                                    <li>
                                        <a class="dropdown-item m-0" asp-page="/Employers/Jobs/Index">Browse</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider border-light">
                                    </li>
                                    <li><a class="dropdown-item" asp-page="/Employers/Jobs/Add">Add</a></li>
                                </ul>
                            </li>
                        }
                        else if (Context.Request.Cookies["userRole"] == "Worker")
                        {
                            <li class="nav-item dropdown p-0">
                                <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Jobs
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark bg-dark-blue border-light">
                                    <li>
                                        <a class="dropdown-item m-0" asp-page="/Jobs/Index">Browse</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider border-light">
                                    </li>
                                    <li><a class="dropdown-item" asp-page="/Workers/Jobs/Index" asp-route-workerId="@Context.Request.Cookies["userId"]">My jobs</a></li>
                                </ul>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Error">Unable to load data.</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="d-none d-md-block">
                <a class="btn bg-transparent rounded-2"
                   style="color: rgb(255, 255, 255, 0.55); border-color: rgb(255, 255, 255, 0.1)"
                   asp-page="/Account/Logout">
                    Logout
                    <i class="fa fa-sign-out fa-xl" style="color: rgb(255, 255, 255, 0.55); margin-left: 10px"></i>
                </a>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        
        @RenderBody()

        @if (Context.Request.Cookies["userRole"] != null)
        {
            if (Context.Request.Cookies["userRole"] == "Employer")
            {
                <!-- Mobile view -->
                <div class="d-flex d-md-none position-fixed w-100 justify-content-evenly z-3" style="bottom: 20px;">
                    <div
                        class="border border-3 border-dark-blue rounded-3 d-flex justify-content-center align-items-center"
                        style="width: 75px; height:  75px;">
                        <a asp-page="/Employers/Jobs/Add">
                            <i class="fa fa-solid fa-plus fa-4x" style="color: rgb(15, 76, 117);"></i>
                        </a>

                    </div>
                    <div
                        class="border border-3 border-dark-blue rounded-3 d-flex justify-content-center align-items-center"
                        style="width: 75px; height:  75px;">
                        <a asp-page="/Employers/Jobs/Index">
                            <i class="fa fa-solid fa-briefcase fa-3x" style="color: rgb(15, 76, 117);"></i>
                        </a>
                    </div>
                </div>

                <!-- Large view -->
                <div class="d-none d-md-flex flex-column position-fixed justify-content-evenly z-3"
                     style="right: 0; bottom:  0; height:  30%; width:  8%;">
                    <div
                        class="border border-3 border-dark-blue rounded-3 d-flex justify-content-center align-items-center"
                        style="width: 90px; height:  90px;">
                        <a asp-page="/Employers/Jobs/Add">
                            <i class="fa fa-solid fa-plus fa-5x" style="color: rgb(15, 76, 117);"></i>
                        </a>

                    </div>
                    <div
                        class="border border-3 border-dark-blue rounded-3 d-flex justify-content-center align-items-center"
                        style="width: 90px; height:  90px;">
                        <a asp-page="/Employers/Jobs/Index">
                            <i class="fa fa-solid fa-briefcase fa-4x" style="color: rgb(15, 76, 117);"></i>
                        </a>
                    </div>
                </div>
            }
            else if (Context.Request.Cookies["userRole"] == "Worker")
            {
            }
        }
    </main>
</div>

<footer class="border-top footer text-muted position-absolute w-100 bottom-0" style="height: 5vh;">
    <div class="container">
        &copy; 2025 - Ergasia - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/star-rating.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>