@page "/Workers/{workerId}/Rating"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Pages.Workers.AddReview

@{
    ViewData["Title"] = "Worker rating";
    var worker = Model.Worker;
    var rating = -1;
    if (Model.Rating != null) rating = Model.Rating.NumericalRating;
    
    @await(Html.PartialAsync("_Partial/_PartialToast", Model.Error))
    Model.Error = null;
}

<div>
    <h4>Rating for @worker.FirstName @worker.LastName</h4>
</div>

<div class="d-flex">
    <div style="flex:1">
        <form method="post" asp-page="/Workers/AddReview" asp-page-handler="OnPostAsync"
              class="d-flex flex-wrap justify-content-start mt-3 gap-2">
            <input type="hidden" name="action" value="@if (Model.Rating != null) { @("update") }else { @("post") }">
            <input type="hidden" name="workerId" value="@worker.Id">
            <div class="rating-card p-4 w-100">
                <div
                    class="star-rating animated-stars d-flex flex-row justify-content-evenly">
                    <input type="radio" id="star5" name="rating" value="5"
                           @if (rating == 5)
                           {
                               @("checked='checked'")
                           }>
                    <label for="star5" class="bi bi-star-fill"></label>
                    <input type="radio" id="star4" name="rating" value="4"
                           @if (rating == 4)
                           {
                               @("checked='checked'")
                           }>
                    <label for="star4" class="bi bi-star-fill"></label>
                    <input type="radio" id="star3" name="rating" value="3"
                           @if (rating == 3)
                           {
                               @("checked='checked'")
                           }>
                    <label for="star3" class="bi bi-star-fill"></label>
                    <input type="radio" id="star2" name="rating" value="2"
                           @if (rating == 2)
                           {
                               @("checked='checked'")
                           }>
                    <label for="star2" class="bi bi-star-fill"></label>
                    <input type="radio" id="star1" name="rating" value="1"
                           @if (rating == 1)
                           {
                               @("checked='checked'")
                           }>
                    <label for="star1" class="bi bi-star-fill"></label>
                </div>
            </div>
            <div class="form-floating mb-3 ms-3 me-3 w-100">
                <textarea class="w-100 form-control" id="verRating" name="verRating"
                          style="height: 20vh;">@{ if (Model.Rating != null) @Model.Rating.VerbalRating}</textarea>
                <label for="verRating">Tell us more</label>
            </div>
            <div class="d-flex gap-3 flex-wrap justify-content-between align-items-baseline ms-3 mb-3 w-100">
                <div>
                    <button class="btn btn-outline-success" type="submit">
                        @if (Model.Rating != null)
                        {
                            @("Update review")
                        }
                        else
                        {
                            @("Send review")
                        }
                    </button>
                    @if (Model.Rating != null)
                    {
                        <button class="btn btn-outline-danger" type="submit" asp-route-delete="true">Delete</button>
                    }
                </div>
                <div class="me-3">
                    @if (Model.Rating != null)
                    {
                        <p class="text-secondary text-opacity-50"
                           style="text-align: end;">@("Rated at " + Model.Rating.Date.ToString("D"))</p>
                    }
                </div>
            </div>
        </form>
    </div>
    <div class="d-none d-md-block" style="flex:1">

    </div>
</div>