@page "/MyJobs"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Pages.Employers.Jobs.Index

@{
    ViewData["Title"] = "My jobs";
    var jobs = Model.Jobs;
    var finishedJobs = Model.FinishedJobs;
}

@if (jobs.Any())
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 ms-5 me-5 ms-md-0 me-md-0">
        @foreach (var job in jobs)
        {
            if (job.Id == null) continue;
            
            var dateOfBegin = job.DateOfBegin;
            var currentDate = DateTime.UtcNow;

            var years = dateOfBegin.Year - currentDate.Year;
            int months;
            int days;

            if (years == 0) months = dateOfBegin.Month - currentDate.Month;
            else months = 12 - currentDate.Month + dateOfBegin.Month;

            if ((dateOfBegin.Day - currentDate.Day) <= 0)
            {
                months -= 1;
                days = dateOfBegin.Day + DateTime.DaysInMonth(dateOfBegin.Year, dateOfBegin.Month) - currentDate.Day;
            }
            else days = dateOfBegin.Day - currentDate.Day;

            if (dateOfBegin.Month - currentDate.Month <= 0) years -= 1;
            if (months >= 12) months -= 12;


            <div class="col">
                <div class="card border-dark-blue text-center h-100 w-auto">
                    <div class="card-header bg-white">
                        <h4 class="card-title bg-white m-0">@job.Name.ToUpper() </h4>
                    </div>
                    <div class="card-text mt-2 mb-2">
                        <h5>
                            @if (dateOfBegin > currentDate)
                            {
                                <span class="badge text-dark border border-warning mb-1 mt-2">
                                    <h5 class="m-0"> Starting in
                                        @if (years > 0)
                                        {
                                            @(years + " year ")
                                        }
                                        @if (months > 0)
                                        {
                                            @(months + " months ")
                                        }

                                        @if (days > 0)
                                        {
                                            @(days + " days ")
                                        }
                                    </h5>
                                </span>
                                <br/>
                            }
                            else if (dateOfBegin.AddDays(job.Duration) > currentDate)
                            {
                                <span class="badge border border-success mb-1 mt-2">
                                    <h5 class="m-0 text-dark"> Currently in progress</h5>
                                </span>
                            }
                        </h5>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-around mb-2">
                            <a class="btn btn-outline-dark" asp-page="/Employers/Jobs/Information"
                               asp-route-jobId="@job.Id">Information</a>
                            @if (job.DateOfBegin > currentDate)
                            {
                                
                                <a class="btn btn-outline-success position-relative" asp-page="/Employers/Jobs/Requests"
                                   asp-route-jobId="@job.Id">
                                    @if (Model.JobRequestCount.TryGetValue(@job.Id, out var count) && count > 0)
                                    {
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            @count
                                        </span>
                                    }
                                    Requests
                                </a>
                            }
                        </div>
                        <div class="d-flex justify-content-center">
                            <a asp-page="/Workers/Index" class="card-link text-blue">Contact workers</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (finishedJobs.Any())
{
    <div class="d-flex d-md-block justify-content-center ms-md-2">
        <span class="badge border border-secondary mb-3 mt-5" style="">
        <h4 class="m-0 text-secondary">Finished jobs</h4>
    </span>
    </div>


    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 ms-5 me-5 ms-md-0 me-md-0">
        @foreach (var finishedJob in finishedJobs)
        {
            <div class="col">
                <div class="card border-dark text-center h-100">
                    <div class="card-header bg-white">
                        <h4 class="card-title bg-white m-0">@finishedJob.Name.ToUpper() </h4>
                    </div>

                    <div class="card-text">
                        <div class="d-flex justify-content-around mb-2 mt-2">

                            <a class="btn btn-outline-warning" asp-page="/Employers/Jobs/Information"
                               asp-route-jobId="@finishedJob.Id">Rate worker/s</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (!finishedJobs.Any() && !jobs.Any())
{
    <span class="badge border border-warning position-relative mb-2 mt-5">
        <h5 class="m-0 text-dark">No current or finished jobs</h5>
    </span>
    <br/>
    <a class="text-blue" asp-page="/Employers/Jobs/Add">Add job</a>
}
